In [1]:
a=10
b=20
if(a>b):
    print('a is grater')
else:
    print('b is greater')

b is greater

In [2]:
a=int(input('Enter the number'))
b=int(input('Enter the number'))
c=int(input('Enter the number'))
if(a>=b) & (a>=c):
    largest=a
elif(b>=c)&(b>=a):
    largest=b
else:
    largest=c

print('the largest is',largest)

Enter the number34
Enter the number45
Enter the number67
the largest is 67

In [3]:
i=1
while(i<=10):
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [4]:
list=[10,23,4,26,4,75,24,54]
num=0
while(num<len(list)):
    if(list[num]%2==0):
        print(list[num],end=" ")
        
    num+=1

10 4 26 4 24 54

In [6]:
len(list)

8

In [14]:
start = int(input("Enter the start of range: "))
end = int(input("Enter the end of range: "))

for num in range(start, end + 1):
    if num > 1:
        for i in range(2, int(num**0.5) + 1):
            if (num % i) == 0:
                   break
        else:
            print(num)

Enter the start of range: 30
Enter the end of range: 50
31
37
41
43
47

In [16]:
#1. Create a list() containing squares of numbers from 1 to 10 (HINT: use List Comprehension).
[i**2 for i in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
#write a function to check if the year number is leap year or not
#year should be divisible by 4
#if the year is divisible by 100 then it should be divisible by 400

In [22]:
year=int(input('Enter the year: '))
if(year%4==0 and year%100!=0 or year%400==0):
    print('It is a leap year')
else:
    print('it is not a leap year')

Enter the year: 2024
It is a leap year

In [ ]:
#3. Write a function to take an array and return another array that contains the members of the first array that are even.

In [38]:
def filter_even_numbers(input_array):
    # Use list comprehension to filter even numbers
    even_numbers = [num for num in input_array if num % 2 == 0]
    return even_numbers

# Example usage:
input_array = [1, 2, 3, 4, 5, 6, 7, 8]
result = filter_even_numbers(input_array)
print(result)  # Output will be [2, 4, 6, 8]

[2, 4, 6, 8]

In [39]:
#Write a function that takes 2 arrays and prints the members of the first array that are present in the second array. 
#(HINT: use Membership Comprehension)

def find_common_elements(array1, array2):
    common_elements = [element for element in array1 if element in array2]
    print("Common elements in the first array and second array:")
    for element in common_elements:
        print(element)

# Example usage:
array1 = [1, 2, 3, 4, 5]
array2 = [3, 4, 5, 6, 7]
find_common_elements(array1, array2)

Common elements in the first array and second array:
3
4
5

In [41]:
tuple1=(10,20,30)
tuple2=(40,50,60)

In [45]:
t_combine=tuple1+tuple2
t_combine

(10, 20, 30, 40, 50, 60)

In [47]:
t_combine*3

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [49]:
t_combine[2]

30

In [50]:
t_combine[:3]

(10, 20, 30)

In [51]:
t_combine[-3:]

(40, 50, 60)

In [56]:
# Create the list 'my_list'
my_list = [
    (1, 2, 3),
    ("a", "b", "c"),
    (True, False)
]

# Print the 'my_list'
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [57]:
t=(1,'a',True)
my_list.append(t)

In [58]:
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]

In [64]:
l=["sparta",'123+']
my_list.append(l)

In [65]:
my_list

[(1, 2, 3),
 ('a', 'b', 'c'),
 (True, False),
 (1, 'a', True),
 ['sparta', 123],
 ['sparta', '123+']]

In [71]:
fruit={
    'fruit':['apple','banana','mango','guava'],
    'cost':[85,54,120,70],
}

In [72]:
fruit.keys()

dict_keys(['fruit', 'cost'])

In [73]:
fruit.values()

dict_values([['apple', 'banana', 'mango', 'guava'], [85, 54, 120, 70]])

In [74]:
my_set=(1,1,"a","a",True,True)

In [75]:
my_set

(1, 1, 'a', 'a', True, True)

In [8]:
import pandas as pd

In [9]:
df=pd.read_csv('Fooditems.csv',encoding='latin')
df.head()

,FATFoodId,FoodItemName,FoodItemLabel,FoodItemDescription,SearchSynonyms
0,5702429.0,Idliz,Idliz,Generic,Idliz
1,350945.0,Gits Idli,Gits,Brand,Gits Idli
2,4097784.0,Udipi Idli,Udipi,Brand,Udipi Idli
3,4623334.0,MTR Rava Idli,MTR,Brand,MTR Rava Idli
4,29356857.0,IDLife Pre Workout,IDLife,Brand,IDLife Pre Workout

In [ ]:
# Define a template
template = "The {food_item} is a {description} made with {ingredients}."

# Generate sentences
for index, row in data.iterrows():
    food_item = row['FoodItemName']
    description = row['Description']
    ingredients = row['Ingredients']

    sentence = template.format(food_item=food_item, description=description, ingredients=ingredients)
    print(sentence)